/* Denna fil skall innehålla din CSS kod */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}
/* För burger Menu */
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: #000000a9;
    align-items: center;
    text-align: center;
    width: 40%; 
    
}
.navLinks li {
    list-style: none;
}
.navLinks a {
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
    width: 100%;
    line-height: 0.3em;
    
}
.linkUnderline {
    transition: all ease 1s;
    position: absolute;
    opacity: 0;
    bottom: -10px;
    left: 0;
    border-top: 0px solid white;
}
.navLinks a:hover { /* When hovering */
    color: #585859;   
}
.navLinks a:hover .linkUnderline {
    transition: all ease 0.33s;
    position: absolute;
    z-index: -1;
    border-top: 30px solid white;
    opacity: 1;

}



.burger div {
    width: 25px;
    height:  3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 9%;
    transition: 0.3s;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #585859;
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #585859;
}
.navActive {
    transition: all 2s cubic-bezier(.7,-0.01,.27,1.01);
    transform: translateY(100vh);
    position: fixed;
    bottom: 0;
}
/* /// Burger Meny end */

/*    Keyframes Start   */
@keyframes imageCycle { /* Image cycle for The Vi watch */
    0% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_black.jpg);
        border-bottom: 0.5em solid #0d0d0d;
    }

    25% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_red.jpg);
        border-bottom: 0.5em solid #ff6666;
    }
    50% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_white.jpg);
        border-bottom: 0.5em solid #646464;

    }
    75% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_blue.jpg);
        border-bottom: 0.5em solid #6bc9ff;
    }
}

@keyframes imageCycle2 { /* Image cycle for the ... watch*/
    0% {
        background-image: url(../img/haziq-jb-71_GA1KBf_8-unsplash_marine.jpg);
    }
    33% {
        background-image: url(../img/haziq-jb-71_GA1KBf_8-unsplash_purple.jpg);
    }
    66% {
        background-image: url(../img/haziq-jb-71_GA1KBf_8-unsplash_emerald.jpg);
    }
}

@keyframes buttonTransition { /* Snurrar när du öppnar sidan */
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* /// KEYFRAMES END /// */



#wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'mn'
    'ft';
    min-height: 100vh;
    grid-template-rows: 10vh auto 15vh;
    grid-template-columns: auto;
}
nav {
    background-color: #0D0D0D;
    color: white;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-area: nv;
    justify-content:space-evenly;
    
}
#shopping_cart {/* img av shopping cart */
    width: 8vw;

}
.logo { /* img off logo*/
    width: 15vw;  
}
#sect1Hem {
    grid-area: sect1;
    display: flex;
    flex-direction: row;

}
.art1Hem { 
    position: absolute;
    display: inline;
    background-color: transparent;
    font-size: 2em;
    font-weight: 800;
    width: 30vw;
    height: 50vh;
    line-height: 1.3em;
}
#sameQuality {/* Text till bilden */
    margin-left: 1em;
    margin-top: 0.33em;
}
#cheaperPrice { /* Text till bilden */
    color: white;
    margin-left: 1em;
}
#art2Hem { /* Bilden */
    margin-top: 8em;
    margin-left: 0;
    padding-left: 0;
    width: 100vw;
    height: 25vh;
    z-index: -1;
    display: inline;
    background-color: #bfbfbf50;
    background-image: url(../img/paul-cuoco-CO2vOhPqlrM-unsplash.jpg);
    background-size: cover;
    background-position-y: -2em;
    background-position-x: 3em;
}
#triangleBreak {
  width: 100vw;
}
main {
    grid-area: mn;
    display: grid;
    grid-template-areas: 
    'sect1'
    'sect2';
    grid-template-rows: 1fr 0.8fr;
}
.sect2Hem {
    grid-area: sect2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sect2Hem p {
    font-weight: bold;
}
#art1_2Hem h2 {
    text-align: center;
}
#art1_2Hem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.previewCycle {
    background-color: gray;
    width: 70vw;
    height: 20vh;
    background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_black.jpg);
    border-bottom: 7px solid #0d0d0d;
    border-radius: 0px 40px 0px 40px;
    background-size: cover;
    background-position-y: -5em;
    animation-name: imageCycle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition: width 1s ease;
    opacity: 100%;
}
.theName {
    margin-bottom: 1em;
}
.previewCycle2 {
    background-color: gray;
    width: 90vw;
    height: 15vh;
    background-image: url(../img/haziq-jb-71_GA1KBf_8-unsplash_marine.jpg);
    background-size: cover;
    background-position-y: -3em;
    border-radius: 15px 0px 0px 0px;
    animation-name: imageCycle2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: width 1s ease;
    opacity: 100%;
}
.sect3Hem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
}
.sect3Hem h3 {
    font-weight: bold;
}
#art2_3Hem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#art2_3Hem a{
    text-decoration: none;
    color: #585859;
}
#art2_3Hem a:hover{
    color: white;
}
#ecoFriendly { /* Image of Environment */
    background-color: gray;
    background-image: url(../img/goutham-krishna-h5wvMCdOV3w-unsplash.jpg);
    width: 80vw;
    height: 30vh;
    background-position-x: -10em;
    background-position-y: -20em;
    margin-bottom: 1em;
}
#ecoP {
    background-color: #bfbfbf40;
    border-radius: 1em;

}

footer {
    grid-area: ft;
    color: white;
}
footer a {
    text-decoration: none;
    color:white;
}
a:visited {
    color: white;
}
footer a:hover {
    color: #585859;
}
#sect1Footer  {   
    height: 70%;   
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#sect1Footer ul {
    list-style-type: none;
}
#sect2Footer {
    background-color: #0d0d0d;
    height: 30%;
}

/* THe VI / PRODUCTS*/

#mainProduct {
    grid-template-rows: 1fr 0fr;
    display: grid;
    grid-template-areas: 
    'imgb'
    'prodp'
    'simi';
}

.imgBox {
    grid-area: imgb;
    align-items: center;
    display: flex;
    flex-direction:column;
}
#productImg {
    width: 70vw;
    background-size: cover;
    background-position-y: -2em;
    margin-bottom: 1em;
    transition: all ease 1s;
}
#colorButtons {
    width: 80vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.308);
    border-radius: 1em;
    margin-bottom: 1em;
}
#blackB, #blueB, #whiteB, #redB {
    border-radius: 100%;
    animation-name: buttonTransition;
    animation-duration: 1s;
    transition: all ease 0.3s;
    transform: translateZ(0)
}
#blackB {
    border: 0.7em outset #585859;
}
#whiteB {
    border: 0.7em outset white;
}
#redB {
    border: 0.7em outset red;
}
#blueB {
    border: 0.7em outset blue;
}
.productP { /* Hela beskrviningen till produkten */
    grid-area: prodp;
    display: flex;
    justify-content: center;
    background-color: #585859;
    width: 100%;
    min-height: 30vh;

}
.addtocartMobile {
    margin-bottom: 1em;
    background-color: orange;
    border-radius: 1em;
    width: 10em;
    text-align: center;
    align-items: center;
    height: 5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: black;
}
.addtocartDesktop {
    z-index: -5;
    position: absolute;
    visibility: hidden;
}
.addtocartImg {
    width: 1.5em;
}
#productText hr { /* Lines mellan texten i beskrivningen av producken*/
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: black;
    border: none;
    width: 100%;
    height: 1px;
}
#productText { /* Textboxen till texten i besk.*/
    padding-top: 1em;
    color: white;
    width: 70vw;
    margin-bottom: 1em;
}
#productText h4 {
    font-size: 1.33em;
}
#productText h5 {
    font-size: 1em;
}
#productText p {
    font-size: 1em;
}
.similarImgs { /* Boxen till "similarimgs" */
    grid-area: simi;
    width: 100%;
    background-color: #585859;
    text-align: center;
    
    color: white;
}
.similarImgs h4 {
    padding-bottom: 1em;
    font-size: 1em; 
}
.similarImgs img {
    width: 55vw;
    padding-bottom: 1em;
    transition: width 0.5s ease;
}

/* Delsida 3, watchlist */
#mainList {
    margin-top: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.productlistItem {
    margin-bottom: 1em;
}
.productlistImg {
    width: 40vw;
    height: 25vh;
    background-color: #585859;
}
#productlistItemSchnible { 
    background-image: url(../img/haziq-jb-71_GA1KBf_8-unsplash_marine.jpg);
    background-size: cover;
    background-position-x: -5em;
}
#productlistItemVI { 
    background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_white.jpg);
    background-size: cover;
}
#productlistItemLight {
    background-image: url(../img/lightscape-YBR08SwBp24-unsplash.jpg);
    background-size: cover;
}
#productlistItemLogan {
    background-image: url(../img/logan-weaver-jM_xJyX-sPI-unsplash.jpg);
    background-size: cover;
}
.productlistContent h2 {
    font-size: 1em;
}
.listitemTag {
    font-size: 0.7em;
    width: 5em;
    text-align: center;
    border-radius: 0.5em;
    background-color: #BFBFBF;
}
.listitemOnsale { /* Gamla priset */
    text-decoration: line-through;
    font-size: 0.8em;
}
.listitemCheaptext { /* Det nya priset */
    color: darkred;
    font-weight: bold;
}
#mainCart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainimgContent {
    margin-top: 1em;
    min-height: 40vh;
    width: 80%;
    padding: 2em; 
    border-radius: 1em;
    background-color: #BFBFBF;
}
.cartImg {
    height: 30vh;
    width: 80vw;
    background-size: cover;
    background-color: gray;
    background-image: url(../img/haziq-jb-71_GA1KBf_8-unsplash_purple.jpg);

}
.cartHorizontalcontent {
    margin-top: 1em;
    padding-top: 0.33em;
    padding-bottom: 0.33em;
    border-radius: 0.33em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #bfbfbf;
}
.cartremoveItem {
    width: 2em;
}
.cartremoveItembox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 122, 122);
    width: 3em;
    height: 3em;
    border-radius: 0.33em;
}
/* ////////////////////////////






////////MEDIA QUERIES///// */
@media screen and (min-width: 480px) { /* För Desktop */
    .art1Hem {
        font-size: 3em;
        line-height: 1.5em;
        width: 80vw;
    }
    #art2Hem {
        margin-top: 10em;
        height: 30vh;
        background-position-y: -60vh;
        background-position-x: 0vw;
        background-size: 100%;
        filter: blur(0.15em);
    }
    .logo {
        width: 100px;
    }
    #shopping_cart {
        width:40px;
    }
    nav {
        align-items: center;
        outline: #0D0D0D solid;
    }
    .navLinks {
        flex-direction: row;
        position:static;
        padding-bottom: 24px;
        background-color: transparent;
        align-items: center;
        justify-content: space-between;

    }
    .navLinks li {
        padding-right: 2em;
    }

    .navActive {
        transition: all 2s cubic-bezier(.7,-0.01,.27,1.01);
    }
    .previewCycle {
        grid-area: pc1;
        width: 30vw;
        height: 20vw;
        transition: all ease 1s;
    }
    .previewCycle2 {
        grid-area: pc2;
        width: 30vw;
        height: 20vw;
        transition: all ease 1s;
        background-position-y: 0em;

    }
    .previewCycle:hover, .previewCycle2:hover {
        width: 35vw;
        height: 22vw;
        transition: all ease 1s;
    }
    .theName1 {
        grid-area: thn1;
    }
    .theName2 {
        grid-area: thn2;
    }
    #art1_2Hem {
        display: grid;
        grid-template-areas: 
        'pc1 pc2'
        'thn1 thn2';
        column-gap: 5em;
        margin-bottom: 6em;
    }
    #art2_3Hem {
        display: grid;
        grid-template-areas: 
        'ecoh ecoh'
        'ecof ecop'
        'ecof ecop';
        column-gap: 10em;
    }
    #ecoFriendly { /* Bilden */
        grid-area: ecof;
        width: 25vw;
        height: 50vh;
        background-position-y: -5em;
    }
    #ecoP {
        padding: 1em;
        border-radius: 1em;
        grid-area: ecop;
        text-align: right;
        background-color: #bfbfbf40;
    }
    #ecoH {
        grid-area: ecoh;
    }


    /* Produkt sida (The VI) */
    #mainProduct {
        display: flex;
        flex-direction: row;
        align-items: unset; 
        justify-content: space-between;
        width: 100%;
        height: auto;

    }
    #productText {
        width: auto;
        word-wrap: break-word;
    }
    #productText hr {
        width: 15vw;
    }
    .productP {
        padding-left: 1em;
        justify-content: flex-start;
        grid-area: prodp;
        min-height: 100%;
        width: 20vw;
    }
    #productH {
        visibility: hidden;
        position: absolute;
        z-index: -9;
        left: 0;
    }
    #productImg {
        grid-area: prodi;
        width: 30vw;
        z-index: 1;
        display: inline;
        margin-bottom: 0;
    }
    #colorButtons {
        grid-area: colorbut;
        border-radius: 100%;
        width: 20em;
        height: 20em;
        transition: all ease 1s;
        flex-direction: column;
        align-self: center;
        padding-right: 18em;
        background-color: #0d0d0d00;
    }
    .imgBox {
        display: flex;
        flex-direction: row;
        min-width: 50vw;
    }
    #blackB {
        margin-left: 4em;
        border: 1em outset #585859;
    }
    #whiteB {
        margin-left: 10em;
        border: 1em outset white;
        box-shadow: 0 0 0px 5px black;
    }
    #blueB {
        margin-left: 10em;
        border: 1em outset blue;
    }
    #redB {
        margin-left: 4em;
        border: 1em outset red;
    }
    .addtocartMobile { /* För att gömma add to cart knappen */
        position: absolute;
        z-index: -3;
        visibility: hidden;
    }
    .addtocartDesktop {
        z-index: 0;
        position:unset;
        visibility:visible;
        margin-top: 4em;
        margin-bottom: 1em;
        background-color: orange;
        border-radius: 1em;
        height: 5em;
        width: 10em;
        text-align: center;
        align-items: center;
        font-weight: bolder;
        font-size: 1em;
        border: none;
        cursor: pointer;
        color: black;
    }
    .similarImgs {
        margin-left: 11em;
        width: 25%;
        background-color: #585859;
        text-align: center;
        padding-top: 1em;
        color: white;
    }
    .similarImgs h4 {
        padding-bottom: 1em;
        font-size: 1em; 
    }
    .similarImgs img {
        width: 15vw;
        padding-bottom: 1em;
        transition: width 0.5s ease;
    }
    .similarImgs img:hover {
        width: 18vw;
    }
    #mainList {
        margin-top: 1em;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .productlistImg {
        width: 30vw;
        height: 40vh;
        transition: transform ease 0.5s;
    }   
    .productlistImg:hover {
        transform: scale(1.1);
    }
    .listitemTag {
        text-transform:uppercase;
    }
    #productlistItemSchnible {
        background-position: 0 0;
    }
    #productlistItemVI {
        background-position: 0 -8em;
    }
    #productlistItemLight {
        background-position: 0 -5em;
    }
    #productlistItemLogan { /* Logan weaver bild */
        background-position: 0  -12em;
    }

    .watchlistBreaker {
        filter: drop-shadow(0 0 0.75rem black);
        margin-bottom: 2em;
        margin-top: 2em;
        width: 100%;
        height: 20vh;
        background-image: url(../img/low-poly-grid-haikei-2.svg);

    }
}


