/* Denna fil skall innehålla din CSS kod */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}
/* För burger Menu */
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: #000000a9;
    align-items: center;
    text-align: center;
    width: 40%; 
    transition: all 1s;
    
}
.navLinks li {
    list-style: none;
}
.navLinks a {
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
    width: 100%;
    line-height: 0.3em;
    
}
.linkUnderline {
    transition: all ease 0.3s;
    position: absolute;
    opacity: 0;
    bottom: -10px;
    left: 0;
}

.navLinks a:hover { /* When hovering */
    color: #585859;   
}
.navLinks a:hover .linkUnderline {
    position: absolute;
    z-index: -1;
    border-top: 30px solid white;
    opacity: 1;

}



.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 9%;
    transition: 0.3s;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.navActive {
    transition: all 2s cubic-bezier(.7,-0.01,.27,1.01);
    transform: translateY(100vh);
}
/* /// Burger Meny end */

/*    Keyframes Start   */
@keyframes imageCycle { /* Image cycle for else*/
    0% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_black.jpg);
        border-bottom: 7px solid #0d0d0d;


    }

    25% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_red.jpg);
        border-bottom: 7px solid #ff6666;


    }
    50% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_white.jpg);
        border-bottom: 7px solid #646464;

    }
    75% {
        background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_blue.jpg);
        border-bottom: 7px solid #6bc9ff;
    }
}

/* /// KEYFRAMES END /// */
#wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'mn'
    'ft';
    min-height: 100vh;
    grid-template-rows: 10vh auto 15vh;
    grid-template-columns: auto;
}
nav {
    background-color: #0D0D0D;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-area: nv;
    justify-content:space-evenly;
    
}
#shopping_cart {
width: 1.5em;
}
#sect1Hem {
    grid-area: sect1;
    display: flex;
    flex-direction: row;

}
.art1Hem { 
    position: absolute;
    display: inline;
    background-color: transparent;
    font-size: 3em;
    font-weight: 800;
    width: 30vw;
    height: 50vh;
    line-height: 1em;
}
#sameQuality {/* Text till bilden */
    margin-left: 1em;
    margin-top: 0.33em;
}
#cheaperPrice { /* Text till bilden */
    color: white;
    margin-left: 1em;
}
#art2Hem { /* Bilden */
    margin-top: 8em;
    margin-left: 0;
    padding-left: 0;
    width: 100vw;
    height: 25vh;
    z-index: -1;
    display: inline;
    background-color: #bfbfbf50;
    background-image: url(../img/paul-cuoco-CO2vOhPqlrM-unsplash.jpg);
    background-size: cover;
    background-position-y: -2em;
    background-position-x: 3em;
}
#triangleBreak {
  width: 100vw;
}
main {
    grid-area: mn;
    display: grid;
    grid-template-areas: 
    'sect1'
    'sect2';
    grid-template-rows: 1fr 0.8fr;
}
#sect2Hem {
    grid-area: sect2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#art1_2Hem h3 {
    text-align: center;
}
.previewCycle:hover {
    width: 90vw;
    transition: width 1s ease;
}.previewCycle:active { /* For mobile */
    width: 90vw;
    transition: width 1s ease;
}
.previewCycle {
    background-color: gray;
    width: 70vw;
    height: 20vh;
    background-image: url(../img/rick-muigo-SX9IouL_qOg-unsplash_black.jpg);
    border-bottom: 7px solid #0d0d0d;
    border-radius: 0px 40px 0px 40px;
    background-size: cover;
    background-position-y: -5em;
    animation-name: imageCycle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition: width 1s ease;
    opacity: 100%;
}



footer {
    display: box;
    grid-area: ft;
    color: white;
    text-align: center;
    align-items: center;
}
footer li {
    list-style-type: none;
}
#sect1Footer {
    background-color: #2c2c2c;
    height: 50%;
}
#sect2Footer {
    background-color: #0d0d0d;
    height: 50%;
}